body {
    background-color: burlywood;
    text-align: center;
}

a{
    color:darkslateblue;
}

ul{
    list-style: none;
}

h1 {
    font-family: 'Courier New' , Georgia, Arial, Helvetica, arial;
}