body {
    background-color: burlywood;
}

body#intex{
    text-align: center;
}

a{
    color:darkslateblue;
}

ul#intex{
    list-style: none;
}

h1, h2 {
    text-align: center;
    font-family: 'Courier New' , Georgia, Arial, Helvetica, arial;
}